@use "../utils/" as *;
.panel {
  height: 100vh;
  width: 100%;

  @include flexible($justify: center, $align: center);

  a {
    text-decoration: none;
    color: green;
  }

  &__form {
    @include flexible($justify: center, $align: center, $direction: column);

    form {
      @include flexible(
        $justify: center,
        $align: center,
        $direction: column,
        $gap: 0.5rem
      );

      input {
        width: 40rem;
        padding: 8px 16px;
        border: 1px solid #e3e3e3;
        border-radius: 0.5rem;
      }
      select {
        border-radius: 0.5rem;
      }
    }
  }
}
